.result {
    margin: 50px auto;
}
table {
    width: 80%;
    border-spacing: 0;
    text-align: center;
    font-size: 14px;
}
th,
td {
    padding: 5px;
}
#th1 {
    width: 100px;
}
#th2 {
    width: 300px;
}
#th3 {
    width: 250px;
}
#th4 {
    width: 250px;
}
#th5 {
    width: 100px;
}
#logo {
    width: 100%;
}
table tr#footer {
    font-size: 10px;
}
